matrix:
  include:
    - language: python
      python:
        - "3.6"
        - "3.7"
        - "3.8"
      before_install:
        - "cd backend"
      install: 
        - "pip install -r requirements.txt"
        - "pip install -r test-requirements.txt"
      script:
        - pytest
    - language: node_js
      node_js:
        - "node"
      before_install:
        - "cd frontend"
      install:
        - "yarn install"
      script:
        - "yarn test"
