body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Hack, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
div:focus,
article:focus,
section:focus {
  outline: none;
}

div.pf-c-page {
  min-height: 100vh;
}

span.error {
  color: var(--pf-global--warning-color--100);
}

span.failed {
  color: var(--pf-global--danger-color--100);
}

span.passed, span.done {
  color: var(--pf-global--success-color--100);
}

span.running {
  color: var(--pf-global--info-color--100);
}

span.skipped, span.pending {
  color: var(--pf-global--active-color--100);
}

span.xfailed {
  color: var(--pf-global--palette--purple-400);
}

span.xpassed {
  color: var(--pf-global--palette--purple-700);
}

table.pf-c-table th {
  font-size: 100%;
}

.pf-c-badge.passed {
  color: #fff;
  background-color: var(--pf-global--success-color--100);
}

.pf-c-badge.failed {
  color: #fff;
  background-color: var(--pf-global--danger-color--100);
}

.pf-c-badge.error {
  color: #fff;
  background-color: var(--pf-global--warning-color--100);
}

.pf-c-badge.skipped {
  color: #fff;
  background-color: var(--pf-global--active-color--100);
}

.pf-c-badge.xfailed {
  color: #fff;
  background-color: var(--pf-global--palette--purple-400);
}

.pf-c-badge.xpassed {
  color: #fff;
  background-color: var(--pf-global--palette--purple-700);
}

a.typeahead-option {
  text-decoration: none;
  color: var(--pf-global--Color--100);
}

.pf-m-text-muted {
  color: var(--pf-global--Color--400);
}

.pf-m-text-center {
  text-align: center;
}

.pf-m-text-small {
  font-size: 90%;
}

.pf-c-card.passed .pf-c-card__header {
  background-color: var(--pf-global--success-color--100);
  color: var(--pf-global--Color--light-100);
}

.pf-c-card.failed .pf-c-card__header {
  background-color: var(--pf-global--danger-color--100);
  color: var(--pf-global--Color--light-100);
}

.pf-c-card.error .pf-c-card__header {
  background-color: var(--pf-global--warning-color--100);
  color: var(--pf-global--Color--light-100);
}

.pf-c-card.skipped .pf-c-card__header {
  background-color: var(--pf-global--active-color--100);
  color: var(--pf-global--Color--light-100);
}

.pf-c-card.xfailed .pf-c-card__header {
  background-color: var(--pf-global--default-color--200);
  color: var(--pf-global--Color--light-100);
}

.pf-c-card.xpassed .pf-c-card__header {
  background-color: var(--pf-global--danger-color--300);
  color: var(--pf-global--Color--light-100);
}

#run-detail .pf-c-data-list .pf-c-data-list__item:last-child {
  border-bottom: 0;
}

#project-selector .pf-c-select__toggle::before {
  border-color: var(--pf-global--BackgroundColor--dark-200);
}

#project-selector .pf-c-select__toggle,
#project-selector .pf-c-select__toggle * {
  background-color: var(--pf-global--BackgroundColor--dark-200);
  color: var(--pf-global--Color--light-100);
}

#project-selector .pf-c-select input,
#project-selector .pf-c-select button {
  border-color: var(--pf-global--BackgroundColor--dark-200);
  outline: none;
}

#user-dropdown {
  margin-left: 2rem;
}

#user-dropdown .pf-c-dropdown__toggle::before {
  border-color: var(--pf-global--BackgroundColor--dark-100);
}

#user-dropdown .pf-c-dropdown__toggle,
#user-dropdown .pf-c-dropdown__toggle * {
  background-color: var(--pf-global--BackgroundColor--dark-100);
  color: var(--pf-global--Color--light-200);
}

#user-dropdown .pf-c-dropdown input,
#user-dropdown .pf-c-dropdown button {
  border-color: var(--pf-global--BackgroundColor--dark-100);
  outline: none;
}

#dashboard-selector .pf-c-select__toggle::before {
  border-color: var(--pf-global--BackgroundColor--light-300);
}

#dashboard-selector .pf-c-select__toggle,
#dashboard-selector .pf-c-select__toggle * {
  background-color: var(--pf-global--BackgroundColor--light-300);
  color: var(--pf-global--Color--dark-300);
}

#dashboard-selector .pf-c-select input,
#dashboard-selector .pf-c-select button {
  border-color: var(--pf-global--BackgroundColor--light-300);
  outline: none;
}

#dashboard-selector .pf-c-select__toggle.pf-m-disabled,
#dashboard-selector .pf-c-select__toggle:disabled,
#dashboard-selector .pf-c-select__toggle.pf-m-disabled * ,
#dashboard-selector .pf-c-select__toggle:disabled * {
  background-color: var(--pf-global--BackgroundColor--light-200);
  border-color: var(--pf-global--BackgroundColor--light-200);
  color: var(--pf-global--Color--dark-100);
}

div[data-id=heatmap] > div > div:first-child > div {
  padding-left: 7px;
  transform: rotate(-90deg);
}

div[data-id=heatmap] > div > div:first-child > div:nth-child(1),
div[data-id=heatmap] > div > div:first-child > div:nth-child(2) {
  padding-left: 0;
  transform: none;
}

div[data-id=widget-header] > h2 {
  width: 55%;
  margin-right: 35%;
  display: inline-block;
}

div[data-id=widget-header] > button {
  width: 10%;
  display: inline-block;
}

div[data-id=heatmap] > div > div > div a {
  text-decoration: none;
  color: var(--pf-global--Color--100);
}

div[data-id=widget-param-dropdown] > h3 {
  width: 35%;
  margin-right: 15%;
  display: inline-block;
}

div[data-id=widget-param-dropdown] > div {
  width: 50%;
  display: inline-block;
}

.pf-c-about-modal-box__hero {
  background-position: top right;
  background-size: contain;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

:where(.pf-theme-dark) .pf-c-clipboard-copy .pf-c-form-control[readonly] {
  border-bottom-color: var(--pf-global--BorderColor--400) !important;
}
