body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Hack, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
div:focus,
article:focus,
section:focus {
  outline: none;
}

div.pf-v6-c-page {
  min-height: 100vh;
}

table.pf-v6-c-table th {
  font-size: 100%;
}

.pf-v6-u-text-align-center {
  text-align: center;
}

.pf-v6-u-font-size-sm {
  font-size: 90%;
}

#run-detail .pf-v6-c-data-list .pf-v6-c-data-list__item:last-child {
  border-bottom: 0;
}


#user-dropdown {
  margin-left: 2rem;
}



#user-dropdown a {
  text-decoration: none;
}

#dashboard-selector .pf-v6-c-menu-toggle,

#dashboard-selector .pf-v6-c-select input,


#dashboard-selector .pf-v6-c-menu-toggle.pf-m-disabled,
#dashboard-selector .pf-v6-c-menu-toggle:disabled,
#dashboard-selector .pf-v6-c-menu-toggle.pf-m-disabled * ,


div[data-id=heatmap] > div > div:first-child > div {
  padding-left: 7px;
  transform: rotate(-90deg);
}

div[data-id=heatmap] > div > div:first-child > div:nth-child(1),
div[data-id=heatmap] > div > div:first-child > div:nth-child(2) {
  padding-left: 0;
  transform: none;
}

div[data-id=widget-header] > h2 {
  width: 55%;
  margin-right: 35%;
  display: inline-block;
}

div[data-id=widget-header] > button {
  width: 10%;
  display: inline-block;
}


div[data-id=widget-param-dropdown] > h3 {
  width: 35%;
  margin-right: 15%;
  display: inline-block;
}

div[data-id=widget-param-dropdown] > div {
  width: 50%;
  display: inline-block;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

:where(.pf-v5-theme-dark) .pf-v6-c-clipboard-copy .pf-v6-c-form-control[readonly] {
  border-bottom-color: var(--pf-v6-global--BorderColor--400) !important;
}
