body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Hack, source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
div:focus,
article:focus,
section:focus {
  outline: none;
}

div.pf-c-page {
  min-height: 100vh;
}

span.error {
  color: var(--pf-global--warning-color--100);
}

span.failed {
  color: var(--pf-global--danger-color--100);
}

span.passed, span.done {
  color: var(--pf-global--success-color--100);
}

span.running {
  color: var(--pf-global--info-color--100);
}

span.skipped, span.pending {
  color: var(--pf-global--active-color--100);
}

span.xfailed{
  color: var(--pf-global--palette--purple-400);
}

span.xpassed{
  color: var(--pf-global--palette--purple-700);
}

table.pf-c-table th {
  font-size: 100%;
}

.pf-c-badge.passed {
  color: #fff;
  background-color: var(--pf-global--success-color--100);
}

.pf-c-badge.failed {
  color: #fff;
  background-color: var(--pf-global--danger-color--100);
}

.pf-c-badge.error {
  color: #fff;
  background-color: var(--pf-global--warning-color--100);
}

.pf-c-badge.skipped {
  color: #fff;
  background-color: var(--pf-global--active-color--100);
}

.pf-c-badge.xfailed {
  color: #fff;
  background-color: var(--pf-global--palette--purple-400);
}

.pf-c-badge.xpassed {
  color: #fff;
  background-color: var(--pf-global--palette--purple-700);
}

a.typeahead-option {
  text-decoration: none;
  color: var(--pf-global--Color--100);
}

.pf-m-text-muted {
  color: var(--pf-global--Color--400);
}

.pf-m-text-center {
  text-align: center;
}

.pf-m-text-small {
  font-size: 90%;
}

.pf-c-card.passed .pf-c-card__header {
  background-color: var(--pf-global--success-color--100);
  color: var(--pf-global--Color--light-100);
}

.pf-c-card.failed .pf-c-card__header {
  background-color: var(--pf-global--danger-color--100);
  color: var(--pf-global--Color--light-100);
}

.pf-c-card.error .pf-c-card__header {
  background-color: var(--pf-global--warning-color--100);
  color: var(--pf-global--Color--light-100);
}

.pf-c-card.skipped .pf-c-card__header {
  background-color: var(--pf-global--active-color--100);
  color: var(--pf-global--Color--light-100);
}

.pf-c-card.xfailed .pf-c-card__header {
  background-color: var(--pf-global--default-color--200);
  color: var(--pf-global--Color--light-100);
}

.pf-c-card.xpassed .pf-c-card__header {
  background-color: var(--pf-global--danger-color--300);
  color: var(--pf-global--Color--light-100);
}

#run-detail .pf-c-data-list .pf-c-data-list__item:last-child {
  border-bottom: 0;
}

#project-selector .pf-c-select__toggle::before {
  border-color: var(--pf-global--BackgroundColor--dark-200);
}

#project-selector .pf-c-select__toggle,
#project-selector .pf-c-select__toggle * {
  background-color: var(--pf-global--BackgroundColor--dark-200);
  color: var(--pf-global--Color--light-100);
}

#project-selector .pf-c-select input,
#project-selector .pf-c-select button {
  border-color: var(--pf-global--BackgroundColor--dark-200);
  outline: none;
}

#user-dropdown {
  margin-left: 2rem;
}

#user-dropdown .pf-c-dropdown__toggle::before {
  border-color: var(--pf-global--BackgroundColor--dark-100);
}

#user-dropdown .pf-c-dropdown__toggle,
#user-dropdown .pf-c-dropdown__toggle * {
  background-color: var(--pf-global--BackgroundColor--dark-100);
  color: var(--pf-global--Color--light-200);
}

#user-dropdown .pf-c-dropdown input,
#user-dropdown .pf-c-dropdown button {
  border-color: var(--pf-global--BackgroundColor--dark-100);
  outline: none;
}

#dashboard-selector .pf-c-select__toggle::before {
  border-color: var(--pf-global--BackgroundColor--light-300);
}

#dashboard-selector .pf-c-select__toggle,
#dashboard-selector .pf-c-select__toggle * {
  background-color: var(--pf-global--BackgroundColor--light-300);
  color: var(--pf-global--Color--dark-300);
}

#dashboard-selector .pf-c-select input,
#dashboard-selector .pf-c-select button {
  border-color: var(--pf-global--BackgroundColor--light-300);
  outline: none;
}

#dashboard-selector .pf-c-select__toggle.pf-m-disabled,
#dashboard-selector .pf-c-select__toggle:disabled,
#dashboard-selector .pf-c-select__toggle.pf-m-disabled * ,
#dashboard-selector .pf-c-select__toggle:disabled * {
  background-color: var(--pf-global--BackgroundColor--light-200);
  border-color: var(--pf-global--BackgroundColor--light-200);
  color: var(--pf-global--Color--dark-100);
}

div[data-id=heatmap] > div > div:first-child > div {
  padding-left: 7px;
  transform: rotate(-90deg);
}

div[data-id=heatmap] > div > div:first-child > div:nth-child(1),
div[data-id=heatmap] > div > div:first-child > div:nth-child(2) {
  padding-left: 0;
  transform: none;
}

div[data-id=widget-header] > h2 {
  width: 55%;
  margin-right: 35%;
  display: inline-block;
}

div[data-id=widget-header] > button {
  width: 10%;
  display: inline-block;
}

div[data-id=heatmap] > div > div > div a {
  text-decoration: none;
  color: var(--pf-global--Color--100);
}

div[data-id=widget-param-dropdown] > h3 {
  width: 35%;
  margin-right: 15%;
  display: inline-block;
}

div[data-id=widget-param-dropdown] > div {
  width: 50%;
  display: inline-block;
}

.pf-c-about-modal-box__hero {
  background-position: top right;
  background-size: contain;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-align: left;
}

/*
:where(.pf-theme-dark) tspan {
  fill: rgb(184, 187, 190) !important;
}

:where(.pf-theme-dark) .pf-l-grid {
  background-color: inherit !important;
}

:where(.pf-theme-dark) .pf-c-about-modal-box,
:where(.pf-theme-dark) .pf-c-banner,
:where(.pf-theme-dark) .pf-c-log-viewer.pf-m-dark .pf-c-log-viewer__main,
:where(.pf-theme-dark) .pf-c-login__footer,
:where(.pf-theme-dark) .pf-c-login__header,
:where(.pf-theme-dark) .pf-c-masthead,
:where(.pf-theme-dark) .pf-c-page__header,
:where(.pf-theme-dark) .pf-c-page__main-section[class*=pf-m-dark-],
:where(.pf-theme-dark) .pf-c-page__sidebar-body.pf-m-menu .pf-c-context-selector,
:where(.pf-theme-dark) .pf-c-wizard__header {
    --pf-global--Color--100: #fff !important;
    --pf-global--Color--200: #aaabac !important;
    --pf-global--BorderColor--100: #444548 !important;
    --pf-global--primary-color--100: #1fa7f8 !important;
    --pf-global--link--Color: #1fa7f8 !important;
    --pf-global--link--Color--hover: #73bcf7 !important;
    --pf-global--BackgroundColor--100: #1b1d21 !important;
}

:where(.pf-theme-dark) .pf-c-page {
  --pf-c-page__header-tools--c-button--m-selected--before--BackgroundColor: var(--pf-global--BackgroundColor--300) !important;
  --pf-c-page__sidebar--BackgroundColor: var(--pf-global--BackgroundColor--100) !important;
  --pf-c-page__header--BackgroundColor: var(--pf-global--palette--black-1000) !important;
}

:where(.pf-theme-dark) .pf-c-select {
    --pf-c-select__toggle--disabled--BackgroundColor: var(--pf-global--palette--black-500) !important;
    --pf-c-select__toggle--BackgroundColor: var(--pf-global--BackgroundColor--dark-100) !important;
    --pf-c-select__toggle--before--BorderTopColor: transparent !important;
    --pf-c-select__toggle--before--BorderRightColor: transparent !important;
    --pf-c-select__toggle--before--BorderBottomColor: var(--pf-global--BorderColor--400) !important;
    --pf-c-select__toggle--before--BorderLeftColor: transparent !important;
    --pf-c-select__menu--Top: 100% !important;
    --pf-c-select__menu--m-top--TranslateY: -100% !important;
    --pf-c-select__menu-item--hover--BackgroundColor: var(--pf-global--BackgroundColor--400) !important;
    --pf-c-select__menu--BackgroundColor: var(--pf-global--BackgroundColor--300) !important;
}

:where(.pf-theme-dark) .pf-c-dropdown {
  --pf-c-dropdown__toggle--disabled--BackgroundColor: var(--pf-global--palette--black-500) !important;
}

:where(.pf-theme-dark) .pf-c-form-control:disabled {
  --pf-c-form-control--BackgroundColor: var(--pf-global--palette--black-500) !important;
}

.pf-c-chip {
  --pf-c-chip--BackgroundColor: var(--pf-global--BackgroundColor--100) !important;
}

:not(.pf-theme-dark) .pf-c-tabs__link {
  --pf-c-tabs__link--BackgroundColor: var(--pf-global--BackgroundColor--100) !important;
}

.pf-c-alert__title {
  color: inherit !important;
}

:where(.pf-theme-dark) .pf-c-alert {
    --pf-c-alert--BackgroundColor: var(--pf-global--palette--black-600) !important;
    --pf-c-alert--m-inline--BackgroundColor: var(--pf-global--palette--black-600) !important;
    --pf-c-alert--m-inline--m-success--BackgroundColor: var(--pf-global--palette--black-600) !important;
    --pf-c-alert--m-inline--m-danger--BackgroundColor: var(--pf-global--palette--black-600) !important;
    --pf-c-alert--m-inline--m-warning--BackgroundColor: var(--pf-global--palette--black-600) !important;
    --pf-c-alert--m-inline--m-info--BackgroundColor: var(--pf-global--palette--black-600) !important;
}
*/
